/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  display: block;
}

body {
  margin: 0;
  font-size: 15px;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  word-spacing: 0.05em;
  height: 100%;
  display: block;
}